

/* SignIn.css */
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  /* Full width */
    height: 100vh; /* Full height */
    background-color: #c9ddc87e; /* Dimmed background */
    position: fixed; /* Ensures it covers the entire screen */
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .signin-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .signin-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-container label {
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
  }
  
  .signin-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .signin-container input:focus {
    border-color: #00ffea;
    outline: none;
  }
  
  .signin-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #55815f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .signin-container button:hover {
    background-color: #097b20;
  }
  
  .signin-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
  }
  
  .signin-container a {
    
    text-decoration: none;
    font-weight: bold;
  }
  
  .signin-container a:hover {
    text-decoration: underline;
  }
  