

/* General styling for the signup container */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;  /* Full width */
  height: 100vh; /* Full height */
  background-color: #c9ddc87e; /* Dimmed background */
  position: fixed; /* Ensures it covers the entire screen */
  top: 0;
  left: 0;
  text-align: center;
}

  form {
    background-color: #a1c2b98e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(196, 205, 201, 0.2);
    width: 300px;
    text-align: center;
    
    /* Centering the form */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #4fa58a;
    outline: none;
  }
  
  .signup-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #55815f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #05801d;
  }
  
  button[type="button"] {
    background-color: #367a3ac4;
  }
  
  button[type="button"]:hover {
    background-color: #6e9477;
  }
  
  @media (max-width: 600px) {
    .signup-container {
      padding: 10px;
    }
  
    form {
      width: 100%;
      padding: 15px;
    }
  }
  